<div class="container mt-4 animated fadeIn fast">
    <div class="row">
        <h1>
            Perfil de {{ user.knownAs }}
        </h1>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="{{user?.photoUrl || '../../assets/user.png'}}" alt="">
                <div class="card-body">
                    <div>
                        <strong>Ubicacion:</strong>
                        <p>{{user?.city}}, {{ user?.country }} </p>
                    </div>
                    <div>
                        <strong>Edad:</strong>
                        <p>{{ user?.age}} </p>
                    </div>
                    <div>
                        <strong>Ultima conexion:</strong>
                        <p>{{ user?.lastActive | timeAgo}} </p>
                    </div>
                    <div>
                        <strong>Miembro desde:</strong>
                        <p>{{ user?.created | date:'mediumDate'}} </p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="btn-group d-flex">
                        <button class="btn btn-primary w-100">Like</button>
                        <button (click)="selectTab(3)" class="btn btn-success w-100">Enviar mensaje</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="tab-panel" >
                <tabset class="member-tabset" #staticTabs>
                    <tab heading="Acerca de {{ user?.knownAs }}">
                        <h4>Descripción</h4>
                        <p>{{ user?.introduction }}</p>
                        <h4>Buscando</h4>
                        <p>{{ user?.lookingFor }}</p>
                    </tab>
                    <tab heading="Intereses">
                        <h4>Intereses</h4>
                        <p>{{ user?.interests }}</p>
                    </tab>
                    <tab heading="Fotos">
                        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                    </tab>
                    <tab heading="Mensajes">
                       <app-member-messages [recipientId]="user.id" ></app-member-messages>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>